<div class="toolbar toolbar-bottom router-view" ng-include="'partials/toolbar.html'" ng-controller="ToolbarCtrl"></div>
<div id="dishView" ng-controller="DishCtrl" class="page-content router-view">
    <div id="loading-screen" ng-show="isLoading">
      <div class="table"><div class="table-cell">
        <div class="loader"></div>
      </div></div>
    </div>
    <div id="error" class="content-block" ng-show="errorMsg">{{ errorMsg }}</div>
    <div id="content" ng-show="!isLoading">
      <div class="content-block">
      	<div class="dish-img"><img src="{{ dish.ImageURL }}" /></div>
      </div>
      <div class="content-block-title">{{ dish.Title }}</div>
      <div class="list-block">
        <ul id="ingredientsList">
        	<li class="item-content" ng-repeat="ing in dish.Ingredients">
        		<div class="item-media">{{ ing.Quantity }} {{ ing.Unit }}</div>
        		<div class="item-inner">
        			<div class="item-title">{{ ing.Name }}</div>
        			<div class="item-after">{{ ing.Quantity }}:-</div>
        		</div>
        </ul>
      </div>
      <div class="content-block-title">Instructions</div>
      <div class="content-block inset">
        <div class="content-block-inner">
          <p id="instructions">{{ dish.Instructions }}</p>
        </div>
      </div>
    </div>
</div>